<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content  >
  
    <ion-grid>
      <ion-row   justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div padding>
             
             <ion-button  size="large" type="submit"  color="primary" expand="block">
             <ion-icon slot="start" name="logo-facebook"></ion-icon>
         		Iniciar Sesion
     		 </ion-button>
             
             <ion-button  size="large" type="submit"  color="success" expand="block" (click)="verificarNumero()">
             Registrarte ahora
         </ion-button>
             
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

</ion-content> 